{% block body %}
<link rel="stylesheet" href="{{ asset('css/modern.css') }}" type="text/css" media="screen" />
{% stylesheets '@ExtranetLudotourismeIGNCartoBundle/Resources/public/css/popup.ludotourisme.css' %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}

<style type="text/css"><!--/*--><![CDATA[/*><!--*/
    .polyline{stroke-width: 8px;}

    div#example_explain {
        margin:0px 0px 10px 0px;
        border: thin solid #595E61;
        width:800px;
        position:relative;
        left:0px;
        top:0px;
        text-align:justify;
        font-size: 0.75em;
        font-style: italic;
        color: #595E61;
    }
    form#gpLangChange {
        border:0px;
        margin:0px;
        padding:0px;
    }

    .gpPopup {
        text-align: center;
        min-width: 180px;
        background-color:#FFFFFF;
    }

    .gpPopupBody{
        background-color:#FA5D23;
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        color: #FFFFFF;
        margin-top: 20px;
        margin-right: -16px;
    }

    .gpPopupCloseBox{position:absolute;}
    div.describe_box {
        margin-top: 10px;
        max-width: 300px;
        background-color:white;
        overflow: auto;
        max-height: 200px;
        font-family: Arial;
        font-size: 10px;
        font-weight: normal;
        color: #000000;
        border: 1px solid #FA5D23;
    }

    div.tool_box {
        background-color: #f15a22;
        margin:0;
        padding-bottom:-10px;
    }

    div#viewerDiv {
        width:{{ width }}px;
        height:{{ height }}px;
        background-color:white;
        background-image:url(http://api.ign.fr/geoportail/api/js/2.0.0/theme/geoportal/img/loading.gif);
        background-position:center center;
        background-repeat:no-repeat;
    }
    
   div#ludoDiv {
        width:{{ width }}px;
        height: 50px;
        background-color:#ee4423;
        text-align: center;
    }

    div#ludoDiv #layerSelectGP{
        margin: 5px;
    }

    div#code {
        margin:0px 0px 10px 0px;
        width:800px;
        position:relative;
        left:0px;
        top:0px;
        text-align:justify;
        font-size: 0.75em;
        font-style: italic;

    }
    /*]]>*/--></style>
<div id="ludoDiv">
    <div style='float: left;'>
        <a href='http://www.ludotourisme.net'><img src="{{ asset('images/bandeau_map.jpg') }}" /></a>
    </div>
    <div style='text-align: right;'>
        <select id="layerSelectGP" onchange="switchLayer(this.value);">
            {% for x, y in routes %}
                <option value="{{y.name}}|{{y.routes}}">{{y.name}}</option>
            {% endfor %}
        </select>
        <div style="clear: both"></div>
    </div>
    <div style='clear: both'></div>
    <div style='color: #fff; font-size: 12px;'>Pour supprimer un trac&eacute;, cliquez dessus.</div>
    <div style='clear: both'></div>
    </div>
<!--    <div style="float: left;margin-right: 5px;"><img src="{{ asset('images/fullscreen.png') }}" /></div>
    <div style="float: left;"><img src="{{ asset('images/hide_map_infos.png') }}" /></div> -->
</div>
<div id="viewerDiv"></div>
<script type="text/javascript" src="http://api.ign.fr/geoportail/api/js/2.0.0/Geoportal.js"></script>

{% javascripts '@ExtranetLudotourismeIGNCartoBundle/Resources/public/js/utils.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
    /*
     * Copyright (c) 2008-2011 Institut Geographique National France, released under the
     * BSD license.
     */

    viewer= null;
    var key='wc4ocinqeew346c34hz3ai8y'; // Prod
//    var key='t6ztf97i7ydk2ubfku5tlzrp'; // Test local
    var name='{{routes.0.name}}';


    function displayGPX(name, path){
        viewer.getMap().addLayer('GPX', name, path, {
            visibility:true, 
            styleMap:new OpenLayers.StyleMap({
                'default' : new OpenLayers.Style ({
                    'fillColor': '#cc00ff',
                    'fillOpacity': 0.75,
                    'strokeColor': '#cc00ff',
                    'strokeWidth': 8
                    })
                })
            }, {
                onSelect: function(){
                    viewer.getMap().removeLayer(viewer.getMap().getLayersByName(name)[0]);
                }
            }
        );
    }

    function switchLayer(val){

        var value = val.split('|');
        viewer.getMap().removeLayer(viewer.getMap().getLayersByName(name)[0]);
        name=value[0];
        viewer.getMap().addLayer('KML', value[0],'{{path("kml")}}/'+value[1], {visibility:true});
    }

    function initMap() {
                    
        var myStyle= new OpenLayers.StyleMap({"default" : new OpenLayers.Style ({'fillColor': "#f15a22",'fillOpacity': 0.75,'strokeColor': "#FF9900",'strokeWidth': 2})})
        Geoportal.Control.MousePosition.PSS.longlat.defaultUnit=0;
        var options= {
            mode:'normal',
            territory:'FXX',
            proxy:'assets/proxy.cgi?url=',
            displayProjection:['IGNF:RGF93G']
        };

        viewer= new Geoportal.Viewer.Default('viewerDiv', OpenLayers.Util.extend(
            options,
            window.gGEOPORTALRIGHTSMANAGEMENT===undefined?{'apiKey':key} : gGEOPORTALRIGHTSMANAGEMENT)
        );
        if (!viewer) {
            OpenLayers.Console.error(OpenLayers.i18n('new.instance.failed'));
            return;
        }

        viewer.addGeoportalLayers(['ORTHOIMAGERY.ORTHOPHOTOS','GEOGRAPHICALGRIDSYSTEMS.MAPS'], {
            'GEOGRAPHICALGRIDSYSTEMS.MAPS': {opacity:{{transparency}}}
        }); 
        viewer.setVariable('popupClassName', 'gpPopupCssBlack');
        /* PARAM WHAT TO DISPLAY */
        //  viewer.getMap().addLayer('GPX','Track GPX','lines2.gpx',{visibility:true});

        viewer.getMap().addLayer('KML', "{{routes.0.name}}", "{{path('kml_id', {'id':routes.0.routes})}}", {visibility:true});
        /* PARAM CENTER & ZOOM */
        viewer.getMap().setCenterAtLonLat({{center_x}}, {{center_y}}, {{zoom}});

        /* PARAM DISPLAY MENU */
        {%if menu==0%}
        for(i = 1; i < viewer.getMap().controls.length; i++){
            var control= viewer.getMap().controls[i];
            if(control.CLASS_NAME == "Geoportal.Control.LayerSwitcher"){control.minimizeControl();}
            if(control.CLASS_NAME == "Geoportal.Control.ToolBox"){control.minimizeControl();}
        }
        {%endif%}

    }

    function loadAPI() {
        if (checkApiLoading('loadAPI();', ['OpenLayers','Geoportal','Geoportal.Viewer','Geoportal.Viewer.Default'])===false){return;}
        Geoportal.GeoRMHandler.getConfig([key], null,null,{onContractsComplete: initMap});
    }

    window.onload=loadAPI;
</script>


{% endblock %}
