{% extends '::base.html.twig' %}
{% block body %}
{% stylesheets '@ExtranetLudotourismeIGNCartoBundle/Resources/public/css/ludotourisme-ign-index.css' %}
<link src="{{ asset_url }}"></link>
{% endstylesheets %}

<div class="toolbar-vertical">
	<div class="toolbar-group">
	    <a href="{{path('dashboard')}}" ><i class='icon-home'></i></a>
	    <a href="{{ path('editUser', {'id': self.getId()}) }}" ><i class='icon-user'></i></a>
	    <a href="{{path('logout')}}" ><i class='icon-exit'></i></a>
	</div>
	<div class="toolbar-group">
	    <a href="javascript: void(0);" id='display-add' ><i class='icon-plus'></i></a>
	</div>
</div>
<section id='main-frame'>
	<form name='RouteType' method='post' action='{{path("editRouteType", {"id": type.getId()})}}' enctype='multipart/form-data'>
		<div class="input-control text">
			<input type='text' name='name' placeholder='{{ "Name" | trans }}' value='{{type.getName()}}' />
		</div>
		<div class="input-control text">
			<input type='text' name='color' placeholder='{{ "Name" | trans }}' value='{{type.getColor()}}' style='border: 1px solid {{type.getColor()}}' />
		</div>
		<div class="input-control text">
			<input type='text' name='id' placeholder='{{ "ID" | trans }}' value='{{type.getIdRT()}}' />
		</div>
		{% if type.getImage() %}
			<input type='hidden' name='old_image' value='{{type.getImage().getId()}}' />
			<img src='{{path("displayImage", {"id": type.getImage().getId()})}}' style='width: 500px;' />
			<br />
			<label class="input-control checkbox">
				<input type="checkbox" name='delete_old_image'>
				<span class="helper">{{ "Delete" | trans }}? (<small>{{ "nb: You don't need to delete it if you replace it." | trans }}</small>)</span>
			</label>
		{% endif %}
		<fieldset>
			<legend>{{ "Thumbnail" | trans }}</legend>
			<div class="input-control text">
				<input type='file' name='image' />
			</div>
		</fieldset>
		<input type='submit' value='{{ "Send" | trans }}' />
	</form>
</section>
{% endblock %}
