{% extends '::base.html.twig' %}
{% block body %}
{% stylesheets '@ExtranetLudotourismeIGNCartoBundle/Resources/public/css/ludotourisme-ign-index.css' %}
<link href="{{ asset_url }}"></link>
{% endstylesheets %}

<div class="toolbar-vertical">
	<div class="toolbar-group">
	    <a href="{{path('dashboard')}}" ><i class='icon-home'></i></a>
	    <a href="{{ path('editUser', {'id': self.getId()}) }}" ><i class='icon-user'></i></a>
	    <a href="{{path('logout')}}" ><i class='icon-exit'></i></a>
	</div>
	<div class="toolbar-group">
	    <a href="javascript: void(0);" id='display-add' ><i class='icon-plus'></i></a>
	</div>
</div>

<section id='main-frame'>
	<form name='Route' method='post' action='{{ path("editRoute", {"id": map.getId()}) }}' enctype='multipart/form-data'>
		<div class="input-control select">
		<select name='routeType'>
			<option value=''>{{ "Route type" | trans }}</option>
			{% for type in types %}
				{% if (map.getRouteType()!="") and (map.getRouteType().getId()==type.getId()) %}
					<option value='{{type.getId()}}' selected='selected'>{{type.getName()}}</option>
				{% else %}
					<option value='{{type.getId()}}'>{{type.getName()}}</option>
				{% endif %}
			{% endfor %}
		</select>
		</div>
		{% if (self.getRoles().0 != 'ROLE_USER') %}
			<div class="input-control text">
				<input type='text' name='author' placeholder='{{ "Author (email adress)" | trans }}' value='{{map.getAuthor()}}' />
			</div>
		{% endif %}
		<div class="input-control text">
			<input type='text' name='department' placeholder='{{ "Department (2 Digits)" | trans }}' value="{{map.getDepartment()}}" />
		</div>
		<div class="input-control text">
			<input type='text' name='reference' placeholder='{{ "Reference ([Zip][Name])" | trans }}' value="{{map.getReference()}}" />
		</div>
		<div class="input-control text">
			<input type='text' name='displayZone' placeholder='{{ "Area" | trans }}' value="{{map.getDisplayZone()}}" />
		</div>
		<br />
    	<label class="input-control switch" onclick="">
		{% if map.getIsAvailable() %}
            <input name='isAvailable' type="checkbox" checked=""/>
        {% else %}
        	<input name='isAvailable' type="checkbox"/>
        {% endif %}
            <span class="helper">{{ "Available" | trans }}?</span>
        </label>

        {% if admin %}
	    	<label class="input-control switch" onclick="">
			{% if map.getIsActivated()==true %}
	            <input name='isActivated' type="checkbox" checked=""/>
	        {% else %}
	        	<input name='isActivated' type="checkbox"/>
	        {% endif %}
	            <span class="helper">{{ "Activated" | trans }}?</span>
	        </label>
        {% endif %}

    	<label class="input-control switch" onclick="">
		{% if map.getIsTreasure() %}
            <input name='isTreasure' type="checkbox" checked=""/>
        {% else %}
        	<input name='isTreasure' type="checkbox"/>
        {% endif %}
            <span class="helper">{{ "Treasure" | trans }}?</span>
        </label>
        
		<fieldset>
        	<legend>{{ "French" | trans }}</legend>
			<div class="input-control text">
				<input type='text' name='fr_name' placeholder='{{ "Name" | trans }}' value="{{map.getLanguages('fr').name}}" />
			</div>
			<div class="input-control text">
				<input type='text' name='fr_title' placeholder='{{ "Title" | trans }}' value="{{map.getLanguages('fr').title}}" />
			</div>
			<div class="input-control textarea">
				<textarea class="tinymce" data-theme="simple" name='fr_body' placeholder='{{ "Body" | trans }}' value=''>
					{{map.getLanguages('fr').body}}
				</textarea>
			</div>
			<p>Attachement</p>
			{% if map.getAttachmentFr() %}
				{{ "File" | trans }}: {{map.getAttachmentFr().getFileName()}}<br />
				<input type='hidden' name='fr_attachment_old' value='{{map.getAttachmentFr().getId()}}' />
				<br />
				<label class="input-control checkbox">
					<input type="checkbox" name='delete_old_fr_attachment'>
					<span class="helper">{{ "Delete" | trans }}? (<small>{{ "nb: You don't need to delete it if you replace it." | trans }}</small>)</span>
				</label>
				<br />
			{% endif %}
			<input type='file' name='fr_attachment' placeholder='{{ "Attachment" | trans }}' /><br />
		</fieldset>
		<fieldset>
        	<legend>{{ "English" | trans }}</legend>
			<div class="input-control text">
				<input type='text' name='en_name' placeholder='{{ "Name" | trans }}' value="{{map.getLanguages('en').name}}" />
			</div>
			<div class="input-control text">
				<input type='text' name='en_title' placeholder='{{ "Title" | trans }}' value="{{map.getLanguages('en').title}}" />
			</div>
			<div class="input-control textarea">
				<textarea class="tinymce" data-theme="simple" name='en_body' placeholder='{{ "Body" | trans }}' value=''>
					{{map.getLanguages('en').body}}
				</textarea>
			</div>
			<p>{{ "Attachment" | trans }}</p>
			{% if map.getAttachmentEn() %}
			{{ "File" | trans }}: {{map.getAttachmentEn().getFileName()}}<br />
			<input type='hidden' name='en_attachment_old' value='{{map.getAttachmentEn().getId()}}' />
			<br />
			<label class="input-control checkbox">
				<input type="checkbox" name='delete_old_en_attachment'>
				<span class="helper">{{ "Delete" | trans }}? (<small>{{ "nb: You don't need to delete it if you replace it." | trans }}</small>)</span>
			</label>
			<br />
			{% endif %}
			<input type='file' name='en_attachment' placeholder='{{ "Attachment" | trans }}' /><br />
		</fieldset>
		

		<fieldset style="font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 11pt; letter-spacing: 0.02em; color: #c0c0c0;">
        	<legend>{{ "Map pin" | trans }}</legend>
				<input style="font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 11pt; letter-spacing: 0.02em; color: #000; border: 1px solid #ccc; padding: 4px 6px 6px 5px; width: 60px; margin-bottom: 5px;" type='text' name='deg_x' placeholder='{{ "X Degrees" | trans }}' value="{{ map.getSteps('degree_x') }}" style='width: 50px;' /> deg.
				<input style="font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 11pt; letter-spacing: 0.02em; color: #000; border: 1px solid #ccc; padding: 4px 6px 6px 5px; width: 60px; margin-bottom: 5px;" type='text' name='min_x' placeholder='{{ "X Minutes" | trans }}' value="{{ map.getSteps('minute_x') }}" style='width: 50px;' /> '
				<input style="font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 11pt; letter-spacing: 0.02em; color: #000; border: 1px solid #ccc; padding: 4px 6px 6px 5px; width: 60px; margin-bottom: 5px;" type='text' name='sec_x' placeholder='{{ "X Seconds" | trans }}' value="{{ map.getSteps('second_x') }}" style='width: 50px;' /> "
				<select name="dir_x" >
					<option {% if  map.getSteps('direction_x') == 'N' %} selected="selected" {% endif %} value='N'>N</option>
					<option {% if  map.getSteps('direction_x') == 'S' %} selected="selected" {% endif %} value='S'>S</option>
					<option {% if  map.getSteps('direction_x') == 'E' %} selected="selected" {% endif %} value='E'>E</option>
					<option {% if  map.getSteps('direction_x') == 'W' %} selected="selected" {% endif %} value='W'>W</option>
				</select>
				<br />

				<input style="font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 11pt; letter-spacing: 0.02em; color: #000; border: 1px solid #ccc; padding: 4px 6px 6px 5px; width: 60px; margin-bottom: 5px;" type='text' name='deg_y' placeholder='{{ "X Degrees" | trans }}' value="{{ map.getSteps('degree_y') }}" style='width: 50px;' /> deg.
				<input style="font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 11pt; letter-spacing: 0.02em; color: #000; border: 1px solid #ccc; padding: 4px 6px 6px 5px; width: 60px; margin-bottom: 5px;" type='text' name='min_y' placeholder='{{ "X Minutes" | trans }}' value="{{ map.getSteps('minute_y') }}" style='width: 50px;' /> '
				<input style="font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 11pt; letter-spacing: 0.02em; color: #000; border: 1px solid #ccc; padding: 4px 6px 6px 5px; width: 60px; margin-bottom: 5px;" type='text' name='sec_y' placeholder='{{ "X Seconds" | trans }}' value="{{ map.getSteps('second_y') }}" style='width: 50px;' /> "
				<select name="dir_y" >
					<option {% if  map.getSteps('direction_y') == 'N' %} selected="selected" {% endif %} value='N'>N</option>
					<option {% if  map.getSteps('direction_y') == 'S' %} selected="selected" {% endif %} value='S'>S</option>
					<option {% if  map.getSteps('direction_y') == 'E' %} selected="selected" {% endif %} value='E'>E</option>
					<option {% if  map.getSteps('direction_y') == 'W' %} selected="selected" {% endif %} value='W'>W</option>
				</select>
			<div class="input-control select">
				<select name='type'>
					<option value=''>Type</option>
					<option value='Start'>{{ "Start" | trans }}</option>
					<option value='Waypoint'>{{ "Waypoint" | trans }}</option>
					<option value='Arrival'>{{ "Arrival" | trans }}</option>
				</select>
			</div>
		</fieldset>
		<br />
		<p>{{ "Thumbnail" | trans }}</p>
		{% if map.getImage() %}
			<img src='{{path("displayImage", {"id": map.getImage().getId()})}}' style='height: 50px;' />
			<input type='hidden' name='image_old' value='{{ map.getImage().getId() }}' />
			<br />
			<label class="input-control checkbox">
				<input type="checkbox" name='delete_old_image'>
				<span class="helper">{{ "Delete" | trans }}? (<small>{{ "nb: You don't need to delete it if you replace it." | trans }}</small>)</span>
			</label>
		{% endif %}
		<fieldset>
        	<legend>{{ "Thumbnail" | trans }}</legend>
			<input type='file' name='image' placeholder='{{ "Thumbnail" | trans }}' />
		</fieldset>
		<p>{{ "GPX Display" | trans }}</p>
		{% if map.getGPXDisplay() %}
			File: {{ map.getGPXDisplay().getFileName() }}
			<input type='hidden' name='GPXDisplay_old' value='{{ map.getGPXDisplay().getId() }}' />
			<br />
			<label class="input-control checkbox">
				<input type="checkbox" name='delete_old_GPXDisplay'>
				<span class="helper">{{ "Delete" | trans }}? (<small>{{ "nb: You don't need to delete it if you replace it." | trans }}</small>)</span>
			</label>
		{% endif %}
		<fieldset>
        	<legend>{{ "GPX Display" | trans }}</legend>
			<input type='file' name='GPXDisplay' placeholder='{{ "GPX Display" | trans }}' /><br />
		</fieldset>
		<p>{{ "GPX Hicking" | trans }}</p>
		{% if map.getGPXRando() %}
			File: {{ map.getGPXRando().getFileName() }}
			<input type='hidden' name='GPXRando_old' value='{{ map.getGPXRando().getId() }}' />
			<br />
			<label class="input-control checkbox">
				<input type="checkbox" name='delete_old_GPXRando'>
				<span class="helper">{{ "Delete" | trans }}? (<small>{{ "nb: You don't need to delete it if you replace it." | trans }}</small>)</span>
			</label>
		{% endif %}
		<fieldset>
        	<legend>{{ "GPX Hicking" | trans }}</legend>
			<input type='file' name='GPXRando' placeholder='{{ "GPX Hicking" | trans }}' /><br />
		</fieldset>
		<p>{{ "GPX Waypoint" | trans }}</p>
		{% if map.getGPXWaypoint() %}
			{{ "File" | trans }}: {{ map.getGPXWaypoint().getFileName() }}
			<input type='hidden' name='GPXWaypoint_old' value='{{ map.getGPXWaypoint().getId() }}' />
			<br />
			<label class="input-control checkbox">
				<input type="checkbox" name='delete_old_GPXWaypoint'>
				<span class="helper">{{ "Delete" | trans }}? (<small>{{ "nb: You don't need to delete it if you replace it." | trans }}</small>)</span>
			</label>
		{% endif %}
		<fieldset>
        	<legend>{{ "GPX Waypoint" | trans }}</legend>
			<input type='file' name='GPXWaypoint' placeholder='{{ "GPX Waypoint" | trans }}' />
		</fieldset>
		<input type='submit' value='{{ "Send" | trans }}' />
	</form>
</section>
{{ tinymce_init() }}

{% endblock %}
