<?xml version="1.0" encoding="UTF-8"?>
<kml xmlns="http://www.opengis.net/kml/2.2">
    <Document>
        <name>Ceesto_kml.kml</name>
        {%for x in steps%}
        <Placemark>
            <name>
                <![CDATA[ 
                    {%if x.getLanguages('fr').title==""%}
                        <p>Inconnue.</p>
                    {%else%}
                        {{x.getLanguages('fr').title|raw}}
                    {%endif%}
                ]]>
            </name>
            <description>
                <![CDATA[ 
                    <div class="describe_box">
                        {%if x.getLanguages('fr').body==""%}
                            <p>Aucune description.</p>
                        {%else%}                        
                            {{x.getLanguages('fr').body|raw}}
                        {%endif%}
                    </div>
                    <div class="tool_box">
                        {% if x.getGPXDisplay %}
                            <a class="tools_" style='color: #fff;' href="javascript: displayGPX('{{x.getLanguages('fr').title | replace({'\'': '\\\'', '\"': '\\\"'})}}', '{{ path('displayImage', {'id': x.getGPXDisplay().getId()}) }}');"><i class='icon-eye'></i></a>
                        {%endif%}
                        {%if x.getAttachmentFr()%}
                            <a class="tools_" style='color: #fff;' href="{{ path('displayImage', {'id': x.getAttachmentFr().getId()}) }}"><i class='icon-attachment'></i></a>
                        {%endif%}
                        {%if x.getGPXRando!=""%}
                            <a class="tools_" style='color: #fff;' href="{{ path('displayImage', {'id': x.getGPXRando().getId()}) }}"><i class='icon-share-2'></i></a>
                        {%endif%}
                        {%if x.getGPXWaypoint()!=""%}
                            <a class="tools_" style='color: #fff;' href="{{ path('displayImage', {'id': x.getGPXWaypoint().getId()}) }}"><i class='icon-location-2'></i></a>
                        {%endif%}
                        {%if x.getIsTreasure()%}
                            <i class='icon-basket'></i>
                        {%endif%}
                    </div>
                ]]>
            </description>
            <Style>
                <IconStyle>
                    <Icon>
                        <href>{{ path('displayImage', {'id': x.getRouteType().getImage().getId()}) }}</href>
                    </Icon>
                </IconStyle>
            </Style>
            <Point>
                <coordinates>{{x.getSteps('coord_x')}},{{x.getSteps('coord_y')}}</coordinates>
            </Point>
        </Placemark>
        {%endfor%}
    </Document>
</kml>