{% extends '::base.html.twig' %}
{% block body %}
{% stylesheets 
	'@ExtranetLudotourismeIGNCartoBundle/Resources/public/css/ludotourisme-ign-index.css'
%}
<link href="{{ asset_url }}"></link>
{% endstylesheets %}

<style type="text/css">
	.tile{cursor: default;}
</style>

<div class="toolbar-vertical">
	<div class="toolbar-group">
	    <a href="{{path('dashboard')}}" ><i class='icon-home'></i></a>
	    <a href="{{ path('editUser', {'id': self.getId()}) }}" ><i class='icon-user'></i></a>
	    <a href="{{path('logout')}}" ><i class='icon-exit'></i></a>
	</div>
	<div class="toolbar-group">
	    <a href="javascript: void(0);" id='display-add' ><i class='icon-plus'></i></a>
	</div>
</div>

<div class='bg-forms'>
	<div style='width: 380px; float: left; margin-top: 8px;'>
		<h2>Ajouter un parcours</h2>
		<br />
		<form name='Route' method='post' action='{{path("addRoute")}}' enctype='multipart/form-data'>
			<div class="input-control select">
				<select name='routeType'>
					{% for type in types %}
						<option value='{{type.getId()}}'>{{type.getName()}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="input-control text">
				<input type='text' name='author' placeholder='{{ "Author (email adress)" | trans }}' value='' />
			</div>
			<div class="input-control text">
				<input type='text' name='department' placeholder='{{ "Department (2 Digits)" | trans }}' value='' />
			</div>
			<div class="input-control text">
				<input type='text' name='reference' placeholder='{{ "Reference ([Zip][Name])" | trans }}' value='' />
			</div>
			<div class="input-control text">
				<input type='text' name='displayZone' placeholder='{{ "Area" | trans }}' value='' />
			</div>
			<fieldset>
	        	<legend>{{ "French" | trans }}</legend>
				<div class="input-control text">
					<input type='text' name='fr_name' placeholder='{{ "Name" | trans }}' value='' />
				</div>
				<div class="input-control text">
					<input type='text' name='fr_title' placeholder='{{ "Title" | trans }}' value='' />
				</div>
				<div class="input-control textarea">
					<textarea class="tinymce" data-theme="simple" name='fr_body' placeholder='{{ "Body" | trans }}' value=''></textarea>
				</div>
				<fieldset>
	        	<legend>{{ "Attachment" | trans }}</legend>
					<input type='file' name='fr_attachment' placeholder='{{ "Attachment" | trans }}' value='' />
				</fieldset>
			</fieldset>
			<fieldset>
	        	<legend>{{ "English" | trans }}</legend>
	        	<div class="input-control text">
					<input type='text' name='en_name' placeholder='{{ "Name" | trans }}' value='' />
				</div>
				<div class="input-control text">
					<input type='text' name='en_title' placeholder='{{ "Title" | trans }}' value='' />
				</div>
				<div class="input-control textarea">
					<textarea class="tinymce" data-theme="simple" name='en_body' placeholder='{{ "Body" | trans }}' value=''></textarea>
				</div>
				<fieldset>
	        	<legend>{{ "Attachment" | trans }}</legend>
					<input type='file' name='en_attachment' placeholder='{{ "Attachment" | trans }}' value='' />
				</fieldset>
			</fieldset>
			<fieldset style="font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 11pt; letter-spacing: 0.02em; color: #cfcfcf;">
	        	<legend>{{ "Map pin" | trans }}</legend>
					<input style="font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 11pt; letter-spacing: 0.02em; color: #cfcfcf; border: 0px; padding: 4px 6px 6px 5px; width: 60px; margin-bottom: 5px;" type='text' name='deg_x' placeholder='{{ "X Degrees" | trans }}' value='' style='width: 50px;' /> deg.
					<input style="font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 11pt; letter-spacing: 0.02em; color: #cfcfcf; border: 0px; padding: 4px 6px 6px 5px; width: 60px; margin-bottom: 5px;" type='text' name='min_x' placeholder='{{ "X Minutes" | trans }}' value='' style='width: 50px;' /> '
					<input style="font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 11pt; letter-spacing: 0.02em; color: #cfcfcf; border: 0px; padding: 4px 6px 6px 5px; width: 60px; margin-bottom: 5px;" type='text' name='sec_x' placeholder='{{ "X Seconds" | trans }}' value='' style='width: 50px;' /> "
					<select name="dir_x" >
						<option value='N'>N</option>
						<option value='S'>S</option>
						<option value='E'>E</option>
						<option value='W'>W</option>
					</select>
					<br />
					<input style="font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 11pt; letter-spacing: 0.02em; color: #cfcfcf; border: 0px; padding: 4px 6px 6px 5px; width: 60px; margin-bottom: 5px;" type='text' name='deg_y' placeholder='{{ "Y Degrees" | trans }}' value='' style='width: 50px;' /> deg.
					<input style="font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 11pt; letter-spacing: 0.02em; color: #cfcfcf; border: 0px; padding: 4px 6px 6px 5px; width: 60px; margin-bottom: 5px;" type='text' name='min_y' placeholder='{{ "Y Minutes" | trans }}' value='' style='width: 50px;' /> '
					<input style="font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 11pt; letter-spacing: 0.02em; color: #cfcfcf; border: 0px; padding: 4px 6px 6px 5px; width: 60px; margin-bottom: 5px;" type='text' name='sec_y' placeholder='{{ "Y Seconds" | trans }}' value='' style='width: 50px;' /> "
					<select name="dir_y" >
						<option value='N'>N</option>
						<option value='S'>S</option>
						<option value='E'>E</option>
						<option value='W'>W</option>
					</select>
				<div class="input-control select">
					<select name='type'>
						<option value=''>Type</option>
						<option value='Start'>{{ "Start" | trans }}</option>
						<option value='Waypoint'>{{ "Waypoint" | trans }}</option>
						<option value='Arrival'>{{ "Arrival" | trans }}</option>
					</select>
				</div>
			</fieldset>
			<fieldset>
	        	<legend>{{ "Available" | trans }}?</legend>
	        	<label class="input-control radio">
			        <input type='radio' name='isAvailable' value='true' />
			        <span class="helper">'{{ "True" | trans }}'</span>
			    </label>
				<label class="input-control radio">
			        <input type='radio' name='isAvailable' value='false' checked='checked' />
			        <span class="helper">'{{ "False" | trans }}'</span>
			    </label>
			</fieldset>
			{% if admin %}
			<fieldset>
	        	<legend>{{ "Activated" | trans }}?</legend>
				<label class="input-control radio">
					<input type='radio' name='isActivated' value='true' />
					<span class="helper">'{{ "True" | trans }}'</span>
				</label>
				<label class="input-control radio">
					<input type='radio' name='isActivated' value='false' checked='checked' />
					<span class="helper">'{{ "False" | trans }}'</span>
				</label>
			</fieldset>
			{% endif %}
			<fieldset>
	        	<legend>{{ "Treasure" | trans }}?</legend>
				<label class="input-control radio">
					<input type='radio' name='isTreasure' value='true' />
					<span class="helper">'{{ "True" | trans }}'</span>
				</label>
				<label class="input-control radio">
					<input type='radio' name='isTreasure' value='false' checked='checked' />
					<span class="helper">'{{ "False" | trans }}'</span>
				</label>
			</fieldset>
			<fieldset>
	        	<legend>{{ "Thumbnail" | trans }}</legend>
				<input type='file' name='image' placeholder='{{ "Thumbnail" | trans }}' />
			</fieldset>
			<fieldset>
	        	<legend>{{ "GPX Display" | trans }}</legend>
				<input type='file' name='GPXDisplay' placeholder='{{ "GPX Display" | trans }}' />
			</fieldset>
			<fieldset>
	        	<legend>{{ "GPX Hicking" | trans }}</legend>
				<input type='file' name='GPXRando' placeholder='{{ "GPX Hicking" | trans }}' />
			</fieldset>
			<fieldset>
	        	<legend>{{ "GPX Waypoint" | trans }}</legend>
				<input type='file' name='GPXWaypoint' placeholder='{{ "GPX Waypoint" | trans }}' />
			</fieldset>
			<br />
			<input type='submit' value='{{ "Send" | trans }}' />
		</form>
	</div>
	{% if admin %}
	<div style='width: 380px; float: right; text-align: left; margin-top: 8px;'>
		<h2>Ajouter un concept</h2>
		<br />
		<form name='RouteType' method='post' action='{{path("addRouteType")}}' enctype='multipart/form-data'>
			<div class="input-control text">
				<input type='text' name='name' placeholder='{{ "Name" | trans }}' />
			</div>
			<div class="input-control text">
				<input type='text' name='color' placeholder='{{ "Color" | trans }}' />
			</div>
			<div class="input-control text">
				<input type='text' name='id' placeholder='{{ "ID" | trans }}' />
			</div>
			<fieldset>
	        	<legend>{{ "Thumbnail" | trans }}</legend>
				<input type='file' name='image' />
			</fieldset>
			<br />
			<input type='submit' value='{{ "Send" | trans }}' />
		</form>
	</div>
	{% endif %}
	<div style='clear: both'></div>
</div>

<section id='main-frame'>
	{% if admin %}
	<div style='border-bottom: 1px dashed #ccc;'>
		<h3>{{ "Concept" | trans }}</h3>
	</div>
	{% for type in types %}
		<div class="tile double outline-color-blueDark" style='margin-top: 10px;'>
			<div class="tile-content outline-color-blueDark" style='padding-top: 8px; background: {{ type.getColor() }}'>
				<div class="tile-content">
	                <h2>{{type.getName()}}</h2>
	                <h5><strong>Reference ID</strong>: {{type.getIdRT()}}</h5>
	                <p>
	                	{% if type.getImage() %}
	                		<img style='max-height: 30px; max-width: 50px;' src='{{path("displayImage", {"id": type.getImage().getId()})}}' />
	            		{% else %}
	            			<small>Aucune image disponible...</small>
	            		{% endif %}
	                </p>
	            </div>
	            <div class="brand bg-color-blueDark">
	                {% if sadmin %}
	                <div class="badge">
					<a class='delete-button' href="{{ path('deleteRouteType', {'id': type.getId()}) }}">
				        <i class='icon-remove'></i>
				    </a>
	                </div>
	                {% endif %}
	                <a href="{{ path('editRouteType', {'id': type.getId()}) }}" style='margin-left: 30px;'>
			        	<i class='icon-pencil bg-color-blueDark' style='font-size: 30px;'></i>
			    	</a>
	            </div>
			</div>
		</div>
	{% endfor %}
	<div style='clear: both'></div>
	{% endif %}


	<div style='border-bottom: 1px dashed #ccc;'>
		<h3>{{ "Routes" | trans }}</h3>
		<div class="input-control select" syle='width: 200px;'>
	        <select id='route-type-selection'>
	            <option value=''>{{ "All" | trans }}</option>
	            {% for type in types %}
	            	{% if selector == type.getId() %}
						<option value='{{type.getId()}}' selected='selected'>{{type.getName()}}</option>
					{% else %}
						<option value='{{type.getId()}}'>{{type.getName()}}</option>
					{% endif %}
				{% endfor %}
	        </select>
    	</div>
	</div>
	{% for map in maps %}
		<div class="tile double outline-color-blueDark" style='margin-top: 10px;'>
			<div class="tile-content outline-color-blueDark" style='padding-top: 8px; background: {{ map.getRouteType().getColor() }}'>
		    	{% if map.getIsActivated() == true %}
		    		<div class='bg-color-blueDark small' style='position: absolute; top: 0px; left: 274px; padding: 5px; height: 2000px;'><i class='icon-checkmark' style='font-size: 15px;'></i></div>
		    	{% else %}
		    		<div class='bg-color-blueDark small' style='position: absolute; top: 0px; left: 274px; padding: 5px; height: 200px;'><i class='icon-busy' style='font-size: 15px;'></i></div>
		    	{% endif %}

				
				<div class="tile-content">
	                <h2>{{map.getReference()}}</h2>
	                <h5><strong>Concept</strong>: {{map.getRouteType().getName()}}</h5>
	                <p>
	                	<small>
	                		{{map.getLanguages('fr').title}}
	                	</small>
	                </p>
	                <p>
	                	{% if map.getImage() %}
	                		<img style='max-height: 30px; max-width: 50px;' src='{{path("displayImage", {"id": map.getImage().getId()})}}' />
	            		{% else %}
	            			<small>Aucune image disponible...</small>
	            		{% endif %}
	                </p>
	            </div>
	            <div class="brand bg-color-blueDark">
	                <a href="{{ path('editRoute', {'id': map.getId()}) }}" style='margin-left: 30px;'>
			        	<i class='icon-pencil bg-color-blueDark' style='font-size: 30px;'></i>
			    	</a>
	                <div class="badge">
					<a class='delete-button' href="{{ path('deleteRoute', {'id': map.getId()}) }}">
				        <i class='icon-remove'></i>
				    </a>
	                </div>
	            </div>
			</div>
		</div>
	{% endfor %}
</section>
{% javascripts
	'@ExtranetLudotourismeIGNCartoBundle/Resources/public/js/ludotourisme-ign-index.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript">
$(document).ready(function(){

	$('#route-type-selection').change(function(){
		if ($(this).attr('value')!="")
			window.location.href="{{ path('LudoIGN') }}?route_type="+$(this).attr('value');
		else
			window.location.href="{{ path('LudoIGN') }}";
	})
})
</script>
{{ tinymce_init() }}
{% endblock %}
