.row_maps{
        border: 1px solid #ccc;
        background: #d9d9d9;
        padding: 5px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 12px;
}

.row_maps select{
        width: 200px;
        border: 1px solid #ccc;
        color: #000;
        font-size: 14px;
}

.row_maps input[type='radio']{
        width: 150px;
}

.row_maps input[type='text']{
        width: 300px;
        font-size: 14px;
        border: 1px solid #ccc;
        padding: 2px;
}

.row_maps p{
        font-size: 14px;
        font-weight: bold;
        border-bottom: 1px solid #ccc;
}

.row_maps .sub-menu{
        padding-left: 30px;
}

fieldset{
        background: #333;
}

.tile{margin-top: 10px; cursor: progress;}

.tile.double a.button.bg-color-grayDark.fg-color-white{
        margin-top: 86px;
        float: left;
}

.tile.double a.button.bg-color-blue.fg-color-white{
        margin-top: 86px;
        margin-left: -15px;
        float: left;
}

.tile.double.image-slider a.button.bg-color-grayDark.fg-color-white{
        margin-top: 118px;
        float: none;
}

.tile.double.image-slider a.button.bg-color-blue.fg-color-white{
        margin-top: 118px;
        margin-left: 0px;
        float: none;
}
